.hero_detail_purchase_main {
  display: flex;
}

.hero_detail_purchase_main .detail_left_container {
  display: flex;
  align-items: flex-start;
  justify-content: right;
  width: 40%;
}

.hero_detail_purchase_main .detail_left_container img {
  padding-top: 45px;
  padding-right: 60px;
}

.hero_detail_purchase_main .detail_right_container {
  display: flex;
  width: 60%;
}

.hero_detail_purchase_main .detail_right_container .detail_right_main {
  display: flex;
  flex-direction: column;
  width: 715px;
}

.hero_detail_purchase_main
  .detail_right_container
  .detail_right_main
  .text-wrapper {
  text-align: justify;
  margin-top: 45px;
  width: 100%;
}

.hero_detail_purchase_main .detail_right_container .detail_right_main p {
  padding: 7.5px 0;
}
