.hero_carousel_container-01 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero_carousel_container-02 {
  margin-top: 75px;
  width: 40%;
}

.hero_carousel_container-01 .carousel-slider {
  height: 320px;
}

.hero_carousel_container-01 .carousel .control-dots .dot {
  background-color: #c4c4c4;
  border-radius: 5px;
  box-shadow: none;
  width: 80px;
  height: 20px;
  margin-bottom: 0;
}

.hero_carousel_container-01 .carousel .control-arrow {
  display: none;
}

.hero_carousel_container-01 .img-hover {
  position: absolute;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  top: 5px;
  width: 100%;
  height: 97%;
  transition: 0.2s;
  font-size: 20px;
  color: #fff;
}

.hero_carousel_container-01 img {
  height: 100%;
  width: 100%;
}

.hero_carousel_container-01 .img-container:hover .img-hover {
  opacity: 1;
}

@media screen and (max-width: 1366px) {
  .hero_carousel_container-01 .carousel-slider {
    height: 240px;
  }

  .hero_carousel_container-01 .img-hover {
    height: 191px;
  }

  .hero_carousel_container-01 .carousel .control-dots .dot {
    padding: 5px;
    width: 70px;
    height: 20px;
  }
}
