.hero_recommendation_main {
  display: flex;
  justify-content: center;
  margin: 45px 0;
  width: 100%;
}

.hero_recommendation_main .rec_content {
  display: flex;
  flex-direction: column;
  width: 1115px;
}

.hero_recommendation_main .card_layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero_recommendation_main .card_layout .card_content {
  border: 1px solid #5d5fef;
  border-radius: 10px;
  width: 160px;
  height: 205px;
  font-size: 12px;
  margin: 35px;
  color: #000;
  transition: 0.2s;
}

.hero_recommendation_main .card_layout .card_content .img_container img {
  border-radius: 10px 10px 0 0;
}

.hero_recommendation_main .card_layout .card_content:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
