.title {
    font-size: 32px;
}

.content {
    display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 65px;
    margin-left: 85px;
    margin-right: 155px;
}

table tr:first-child {
    border-bottom: 1px solid #828282;
}

table tr {
    border-bottom: 1px solid #C4C4C4;
}

table tr td {
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 20px;
}

.edit{
    text-align: end;
}

table tr td a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
}

.payment_method {
    padding-right: 20px;
}

.payment_text {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.no_account {
    color: #CACACA;
    display: inline;
    float: right;
    text-align: right;
    font-weight: normal;
    border: 1px solid #A5A6F6;
    padding: 0px 80px;
}

img {
    padding-left: 10px;
    vertical-align: middle;
}

.logout {
    text-align: right;
    margin-right: 155px;
    margin-top: 20%;
    margin-bottom: 5%;
}

.button {
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    background-color: white;
    font-size: 20px;
    padding: 15px 40px 15px 40px;
}

.button:hover {
    background-color: red;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}