@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", Courier, monospace;
  margin: 0;
  transition: 0.2s;
}

a {
  text-decoration: none;
}
